@*

*@
@using WorkReport.Commons.Extensions
@using WorkReport.Interface.IService;
@inject ISDepartmentService _iSDepartmentService
@inject ISRoleService _iSRoleService
@{
    Layout = "/Views/Shared/_LayoutEdit.cshtml";
    var sDepartments = _iSDepartmentService.GetSDepartmentList();
    var sRoles = _iSRoleService.GetSRoleList();
}

<form class="layui-form" lay-filter="example">

    <input type="hidden" id="ID" name="ID" placeholder="请输入" class="layui-input">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label required">登陆名</label>
            <div class="layui-input-inline">
                <input type="text" name="UserCode" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label required">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="Name" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户类型</label>
            <div class="layui-input-inline">
                <input type="text" name="UserType" lay-verify="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label required">部门</label>
            <div class="layui-input-inline">
                <select name="DeptId" lay-verify="required" lay-search="">
                    <option value="">直接选择或搜索选择</option>
                    @foreach (var sdepartment in sDepartments)
                    {
                        <option value="@sdepartment.DeptId">@sdepartment.DeptName</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                @*<input type="text" name="Sex" lay-verify="" autocomplete="off" class="layui-input">*@
                <div class="layui-input-inline">
                    <input type="radio" name="Sex" value="男" title="男">
                    <input type="radio" name="Sex" value="女" title="女">
                </div>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">用户状态</label>
            <div class="layui-input-inline">
                <input type="text" name="Status" lay-verify="" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">手机</label>
            <div class="layui-input-inline">
                <input type="tel" name="Mobile" lay-verify="phone" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline">
                <input type="text" name="Email" lay-verify="email" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">QQ</label>
            <div class="layui-input-inline">
                <input type="text" name="QQ" lay-verify="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">微信</label>
            <div class="layui-input-inline">
                <input type="text" name="WeChat" lay-verify="" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        @*<div class="layui-inline">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-inline">
                <input type="text" name="RoleId" lay-verify="" autocomplete="off" class="layui-input">
            </div>
        </div>*@
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                @foreach (var sRole in sRoles)
                {
                    <input type="checkbox" name="role[@sRole.ID]" value="@sRole.ID" title="@sRole.RoleName">
                }
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="ok">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>

@section Scripts{
    <script type="text/javascript">
        function init() {
            layui.use(['form'], function() {
                var form = layui.form;

                form.on('submit(ok)', function(data) {
                    var arr = new Array();
                    $("input:checkbox[name^='role']:checked").each(function(i){  //获取checkbox[name^='role']以role开关的值
                        arr[i] = $(this).val();
                    });

                    data.field.RoleId = arr.join(",");//将数组合并成字符串
                    
                    //console.log(data);
                    $.ajax({
                        url: "/SUser/SaveSUser",
                        dataType: 'json',
                        async: false,
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(data.field),
                        method: "post",
                        success: function(response) {
                            if (response.Code == 200) {
                                var index = parent.layer.getFrameIndex(window.name);//获取窗口索引
                                parent.layer.close(index);//关闭弹出层
                            } else {
                                layer.msg("数据保存失败");
                                return;
                            }
                        },
                        error: function() {
                            layer.msg("数据保存失败");
                            return;
                        }
                    });
                    return false;
                });

                if (_data && _data.hasOwnProperty('ID')) {
                    var formData = {
                        "ID": _result.ID
                        , "UserCode": _result.UserCode
                        , "Name": _result.Name
                        , "UserType": _result.UserType
                        , "DeptId": isNullReturnStr(_result.DeptId)
                        //, "RoleId": _result.RoleId
                        , "Mobile": _result.Mobile
                        , "Email": _result.Email
                        , "QQ": _result.QQ
                        , "WeChat": _result.WeChat
                        , "Sex": isNullReturnStr(_result.Sex)
                    };
                    if (_result.RoleId) {
                        console.log(_result.RoleId);

                        var roleList = _result.RoleId.split(",");
                        for (var i = 0; i < roleList.length; i++) {
                            console.log(roleList[i]);
                            formData["role[" + roleList[i] + "]"] = true;
                        }
                        //$("input:checkbox[name='role']").prop("checked", true);
                    }
                    form.val('example',formData );

                } else {
                    form.val('example', {
                        "Sex": "true"
                    });
                }
            });
        }
        var _result;
        var _data;
        function SetData(data) {
            _data = data;
            if (data && _data.hasOwnProperty('ID')) {
                $.ajax({
                    url: "/SUser/GetSUserByID/" + data.ID,
                    data: { ID: data.ID },
                    method: "GET",
                    async: false,
                    success: function(result) {
                        _result = result;
                    }
                });
            }
            init();
        }
    </script>
}