@*

*@
@{
    ViewData["Title"] = "文档管理";
}
<style type="text/css">
    .layui-table-body .layui-table-cell {
        height: auto;
        line-height: 68px;
    }
</style>
<table class="layui-hide" id="sFilesTable" lay-filter="sFilesTable"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
      <button class="layui-btn layui-btn-sm" lay-event="add">添加文档</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


@section Scripts{
    <script type="text/javascript">

        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#sFilesTable'
                , url: '/SFiles/GetSFiles'
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , defaultToolbar: ['exports', 'print']
                , title: '文档'
                , cols: [[
                    { type: 'checkbox'}
                    //, { field: 'ID', title: '自增ID', width: 80, fixed: 'left', unresize: true, sort: false }
                    , { field: 'ID', title: '自增ID', width: 80 }
                    , {
                        field: 'type', title: '文档类型', templet: function (d) {
                            var suffixName = getFileSuffix(d.FileName);
                            var imgUrl = "";
                            switch (suffixName) {
                                case "jpg":
                                case "jpeg":
                                case "png":
                                case "bmp":
                                case "gif":
                                    imgUrl = '/'+d.FilePath;
                                    break;
                                case "zip":
                                case "rar":
                                    imgUrl = "/images/rar.png";
                                    break;
                                case "txt":
                                    imgUrl = "/images/txt.png";
                                    break;
                                case "ppt":
                                case "pptx":
                                    imgUrl = "/images/ppt.png";
                                    break;
                                case "pdf":
                                    imgUrl = "/images/pdf.png";
                                    break;
                                case "xls":
                                case "xlsx":
                                    imgUrl = "/images/excel.png";
                                    break;
                                case "doc":
                                case "docx":
                                    imgUrl = "/images/word.png";
                                    break;
                                default:
                                    break;
                            }
                            var res ='<img src="' + imgUrl + '" style="width:68px;height:68px;" />';
                            return res;
                        }, width: 120, align: "center"
                    }
                    , { field: 'FileName', title: '文档名称', width: 360, edit: 'text' }
                    , { field: 'FileName', title: '文档描述', width: 360, edit: 'text' }
                    , { field: 'CreateTime', title: '创建时间', width: 160, edit: 'text' }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
                ]]
                , id: 'testReload'
                , page: true
                ,limit: 20
                ,limits: [20,50,100]
            });

            var $ = layui.$, active = {
                reload: function () {
                    table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            key: {
                                id: ""
                            }
                        }
                    });
                }
            };

            //头工具栏事件
            table.on('toolbar(sFilesTable)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'add':
                        lay_extend.openwin({
                            title: '添加文档',
                            page_path: '/Views/SFiles/UploadFile.cshtml',
                            cancel: function () { active.reload(); }
                        });
                        break;
                };
            });

            //监听行工具事件
            table.on('tool(sFilesTable)', function (obj) {
                var data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        $.ajax({
                          url: "/SFiles/DeleteSFiles",
                          type: 'DELETE',
                          data: {ID:data.ID},
                          success:function(response){
                            if(response.Code==200){
                                layer.msg("删除成功");
                                active.reload();
                            }
                          }
                        });
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    lay_extend.openwin({
                        title:'修改文档',
                        page_path: '/Views/SFiles/SaveSFiles.cshtml',
                        data:{ ID: data.ID },
                        cancel:function () { active.reload(); }
                    });
                }
            });
        });

    </script>
}