@*

*@
@{
    Layout = "/Views/Shared/_LayoutEdit.cshtml";
}

<form class="layui-form" lay-filter="example" style="margin-right:20px">

    <input type="hidden" id="ID" name="ID" placeholder="请输入" class="layui-input">

    <div class="layui-form-item">
        <label class="layui-form-label">权限编码：</label>
        <div class="layui-input-block">
            <input type="text" name="RoleCode" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">权限名称：</label>
        <div class="layui-input-block">
            <input type="text" name="RoleName" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">选择权限：</label>
        <div class="layui-input-block">
            <div id="roleTreeId" class="demo-tree"></div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="ok">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>

@section Scripts{
    <script type="text/javascript">

        function init() {
            layui.use(['tree', 'form'], function() {
                var form = layui.form
                    , tree = layui.tree;

                form.on('submit(ok)', function(data) {

                    getCheckedRoleId(); //获取权限

                    $.ajax({
                        url: "/SRole/SaveSRole",
                        dataType: 'json',
                        async: false,
                        //contentType: 'application/json; charset=utf-8',
                        data: { sRole: data.field, menuIDs: menuIDs },
                        method: "post",
                        success: function(response) {
                            if (response.Code == 200) {
                                var index = parent.layer.getFrameIndex(window.name);//获取窗口索引
                                parent.layer.close(index);//关闭弹出层
                            } else {
                                layer.msg("数据保存失败");
                                return;
                            }
                        },
                        error: function() {
                            layer.msg("数据保存失败");
                            return;
                        }
                    });
                    return false;
                });

                if (_data && _data.hasOwnProperty('ID')) {
                    form.val('example', {
                        "ID": _result.ID
                        , "RoleCode": _result.RoleCode
                        , "RoleName": _result.RoleName
                    });
                }

                //开启复选框
                tree.render({
                    elem: '#roleTreeId'
                    , data: treeData
                    , showCheckbox: true
                    , id: 'roleTreeId'
                    ,oncheck: function (obj) {
                         var childs = $(obj.elem).find('.' + "layui-tree-pack").find('input[same="layuiTreeCheck"]');
                         childs.each(function () {
                            this.checked = false;
                     });
                    }
                });
                //setUnChecks(treeData);
                //tree.setChecked('roleTreeId', [3, 7]); //勾选指定节点

                var getCheckedRoleId = function() {
                    menuIDs = [];

                    var checkedData = tree.getChecked('roleTreeId'); //获取选中节点的数据
                    getmenuIDs(checkedData);
                }

                var menuIDs = [];
                //递归获取选中的角色id
                var getmenuIDs = function(checkedData) {
                    checkedData.forEach(function(item, index) {
                        menuIDs.push(item.id);
                        if (item.children != null && item.children.length > 0) {
                            getmenuIDs(item.children);
                        }
                    });
                }
            });

        }
        var _result;
        var _data;
        var treeData;   //权限树数据
        function SetData(data) {
            _data = data;
            if (data && _data.hasOwnProperty('ID')) {
                $.ajax({
                    url: "/SRole/GetSRoleByID/" + data.ID,
                    data: { ID: data.ID },
                    method: "GET",
                    async: false,
                    success: function(result) {
                        _result = result;
                    }
                });
            }
            loadRoleTree();
            init();
        }
        function loadRoleTree() {
            $.ajax({
                url: "/SRole/GetSRoleMenu",
                data: { RoleID: _data && _data.hasOwnProperty('ID') ? _data.ID : 0 },
                method: "GET",
                async: false,
                success: function(result) {
                    result = JSON.parse(JSON.stringify(result).replace(/checkedBox/g, 'checked'));
                    treeData = result;
                }
            });
        }
        
    </script>
}