@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black">公司日志系统</div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <!-- 移动端显示 -->
        <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
            <i class="layui-icon layui-icon-spread-left"></i>
        </li>

        <li class="layui-nav-item layui-hide-xs"><a href="">导航1</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="">导航2</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="">导航3</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">导航组</a>
            <dl class="layui-nav-child">
                <dd><a href="">菜单 11</a></dd>
                <dd><a href="">菜单 22</a></dd>
                <dd><a href="">菜单 33</a></dd>
            </dl>
        </li>


    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item layui-hide layui-show-md-inline-block">
            <a href="javascript:;">
                <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
                @Context.User.Identity.Name
            </a>
            <dl class="layui-nav-child">
                <dd><a id="userInfo" href="javascript:;" class="wk-btn">个人信息</a></dd>
                <dd><a id="updatePass" href="javascript:;" class="wk-btn">修改密码</a></dd>
                <dd><a id="" href="/Account/LogOut">退出系统</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
            <a href="javascript:;">
                <i class="layui-icon layui-icon-more-vertical"></i>
            </a>
        </li>
    </ul>
</div>
