@*@using WorkReport.Commons.Extensions
@using WorkReport.Interface.IService;
@using WorkReport.Models.ViewModel
@inject ISMenuService _iSMenuService*@
@{
    //int userId = @Context.User.FindFirst("id").Value.ToInt();
    //var s_menus = _iSMenuService.GetSMenuList(userId);
}

    <!--无限极左侧菜单-->
    <div class="layui-side layui-bg-black layuimini-menu-left">
    </div>

