@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "字典设置";
}
<link rel="stylesheet" href="~/lib/layui/layui_exts/eleTree/eleTree.css" />
<link rel="stylesheet" href="~/lib/layui/layui_exts/eleTree/css/icon.css" />

<style type="text/css">
    .layout {
        width: 100%;
        height: 100vh;
        display: flex;
    }

    .aside {
        border-left: 1px solid rgba(0,0,0,0.2);
        border-right: 1px solid rgba(0,0,0,0.2);
        float: left;
        width: 20%;
        height: 100%;
        margin-left: 3px;
        padding: 12px;
    }

    .article {
        border-left: 1px solid rgba(0,0,0,0.2);
        border-right: 1px solid rgba(0,0,0,0.2);
        margin-left: 5px;
        width: 78%;
        height: 100%;
        padding: 12px;
    }

    .btn_box {
    }
</style>

<div class="layout">

    <aside class="aside">
        <div class="btn_box">
            <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit">修改</button>
            <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">删除</button>
        </div>
        <div class="eletree11"></div>
    </aside>

    <article class="article">
    </article>

</div>

@section Scripts{
    <script type="text/javascript">
        layui.config({
            base: '/lib/layui/layui_exts/eleTree/'
        });
        layui.use(['tree', 'util','eleTree'], function(){
            var tree = layui.tree
            ,eleTree = layui.eleTree
            ,layer = layui.layer
            ,util = layui.util

            loadTree(); //加载左侧树
            var el1 = eleTree({
                el: '.eletree11',
                //url: '/eleTree/json/1.json?v=2.0.12',
                data:data1,
                highlightCurrent: true,
                //showCheckbox: true,
                //showRadio: true,
                imgUrl: "lib/layui/layui_exts/eleTree/images/",
                icon: {
                    fold: "fold.png",
                    leaf: "leaf.png",
                    checkFull: ".eletree_icon-check_full",
                    checkHalf: ".eletree_icon-check_half",
                    checkNone: ".eletree_icon-check_none",
                    dropdownOff: ".eletree_icon-dropdown_right",
                    dropdownOn: ".eletree_icon-dropdown_bottom",
                    loading: ".eleTree-animate-rotate.eletree_icon-loading1",
                },
            });
            el1.expandAll();
            // 节点点击事件
            var currentNode;
            el1.on("click",function(d) {
                currentNode=d.data;
            });

            $('.layui-btn').on('click', function () {
                var othis = $(this), type = $(this).attr('lay-event');
                active[type] ? active[type].call(this, othis) : '';
            });

            var active = {
                add: function () {
                    lay_extend.openwin({
                        title: '添加字典目录',
                        page_path: '/Views/SFieldContent/SaveSFieldCatalog.cshtml',
                        data:{ treeCataLog: data1,currentNode:currentNode },
                        cancel: function () { active.reload(); }
                    });
                }
                , edit: function () {
                    lay_extend.openwin({
                        title:'修改部门',
                        page_path: '/Views/SFieldContent/SaveSFieldCatalog.cshtml',
                        data:{ ID: currentNode.id,treeCataLog: data1,currentNode:currentNode },
                        cancel:function () { active.reload(); }
                    });
                }
                , delete: function () {
                    if(currentNode && currentNode.id>0){
                        layer.confirm('真的删除'+currentNode.label+'目录吗？', function (index) {
                            $.ajax({
                              url: "/SFieldContent/DeleteSFieldCatalog",
                              type: 'DELETE',
                              data: {ID:currentNode.id},
                              success:function(response){
                                if(response.Code==200){
                                    layer.msg("删除成功");
                                    active.reload();
                                }
                              }
                            });
                            layer.close(index);
                        });
                    }else{
                        layer.msg("请选择节点");
                    }

                }
                , reload: function(){
                    loadTree(); //加载左侧树
                    el1.reload({data: data1});
                    el1.expandAll();
                }
            };
        });
        var data1;
        function loadTree(){
            $.ajax({
                url: "/SFieldContent/GetSFieldCatalog",
                data: { ID: 0 },
                method: "GET",
                async: false,
                success: function (result) {
                    data1 = result;
                    data1 = JSON.parse(JSON.stringify(data1).replace(/title/g, 'label'));
                }
            });
        }
    </script>
}